{% extends template('page-layout-main') %}

	{% define data = {
        helloWorld: _view.helloWorld,
        param1: 'What a ...',
        param2: 'Wiiiidgeeeet!!! ;-)'
    } %}

	{% block content %}
        <div><h2>{{ data.helloWorld }}</h2></div>

        {% widget 'HelloSprykerWidget' args [data.param1, data.param2] only %}
            {% block body %}
                {{ parent() }}
            {% endblock %}
        {% nowidget %}
            <h2 style="color: orangered;">display something else here... but no widget</h2>
        {% endwidget %}
    {% endblock %}
