{% extends template('widget') %}

{% define data = {
    param1: _widget.param1,
    param2: _widget.param2 | default
} %}

{% block body %}
    <span>{{ data.param1 }}</span>
    <span>{{ data.param2 }}</span>
{% endblock %}
